{% import "utility.html" as util %}

{{ util.htmltop("Create Genre") }}
{{ util.navbar("Create Genre") }}
<div class="container">
    <form method="POST" action="{{ url_for('create_genre') }}">
        <div class="form-group">
            <label for="genreID">Genre ID</label>
            <input type="text" class="form-control" id="genreID" name="genreID" placeholder="Genre ID">
        </div>
        <div class="form-group">
            <label for="genreName">Genre Name</label>
            <input type="text" class="form-control" id="genreName" name="genreName" placeholder="Genre Name">
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>

{{ util.htmlbottom() }}
