{%import 'utility.jinja2' as utl %}
{{ utl.htmltop("Show Genres") }}
{{ utl.navbar("Show Genres") }}

<div class="containertable">
    {{utl.display_table(data,header)}}
    </div>

{{utl.htmlbottom()}}